.ride-options-container {
  padding: 59px 58px 101px 58px;
}

.ride-options-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.ride-cards-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 24px;
}

.ride-card {
  background-color: #383838;
  max-width: 307px;
}

.ride-options-header-container p {
  font-size: 26px;
  color: #FBA403;
}

.ride-options-header-container h2 {
  font-size: 45px;
  font-weight: 700;
  color: white;
}

.card-text {
  padding: 13px 15px 13px 15px;
}

.card-text h3 {
  font-size: 16px;
  color: white;
  font-weight: 400;
  margin-bottom: 6px;
}

.card-text p {
  font-size: 16px;
  color: #B3B3B3;
  line-height: 25px;
}

.card-link {
  display: flex;
  justify-content: end;
  padding: 0px 15px 14px 15px;
}

.card-link a {
  font-size: 14px;
  color: #FBA403;
  padding: 9px;
}